<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="userService" class="springbook.user.service.UserService">
    <property name="userDao" ref="userDaoJdbc"/>
  </bean>

  <bean id="userDaoJdbc" class="springbook.user.dao.UserDaoJdbc">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="connectionMaker" class="springbook.user.dao.connectionmaker.SimpleConnectionMaker"/>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost/springbook"/>
    <property name="username" value="youzheng"/>
    <property name="password" value="youzheng123"/>
  </bean>

  <bean id="jdbcContext" class="springbook.user.dao.JdbcContext">
    <constructor-arg name="dataSource" ref="dataSource"/>
  </bean>

</beans>